.btn-container {
  display: block;
  margin-top: 10px;
  justify-content: space-between;
}

$header-height: 100vh;

.head-container {
  background-image: linear-gradient(
      180deg,
      rgba(232, 243, 240, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/sound-profile-scheduler/images/cover.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: $header-height;
}

.main {
  margin-top: $header-height + 2;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-left: -0.3rem;
}

.logo {
  width: 5rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  margin: 10px 0;
}

.legal-dist {
  display: block;
  font-size: xx-small;
}

.download-btn-container {
  margin-left: auto;
  margin-right: auto;
}

.download-btn {
  width: 10rem;
}

.ss_container {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.ss_container > img {
  width: 120px;
  width: 120px;
  border-radius: 14px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.widget-img {
  width: 25rem;
  max-width: 100%;
}
