.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.body {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

@media screen and (min-width: 480px) {
    .body {
        width: 50vw;
    }
}

.title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

