.container {
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1366px) {
    .sub-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 20px 0;
    }
}


.divider {
    height: 1px;
    background-color: rgb(210, 209, 209);
    border-radius: 25px;
    margin: 30px 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.copy-right {
    margin: 0;
    margin-top: 4px;
}

.logo-container>p {
    font-size: 0.9rem;
}

.follow-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}



.follow-site-title {
    font-weight: 500;
    font-size: 0.9rem;
}


.url-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    padding: 0px;
    gap: 4px;
}

.shinjin-logo {
    width: 50px;
    height: 50px;
}

.shinjin-desc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
}

.shinjin-desc-name {
    color: #000000;
}

.shinjin-desc-desc {
    font-size: 14px;
    color: #525252;
}

.other-url-containers {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    flex-direction: column;
}

.other-url-containers>a {
    text-decoration: none;
    font-size: 1rem;
    color: #515151;
}