@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Style */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #0047cb;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #05307f;
}

::marker {
    color: #0047cb;
}