@tailwind base;
@tailwind components;
@tailwind utilities;


main {
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

@media screen and (max-width: 810px) {
    main {
        max-width: 85vw;
    }
}

@media screen and (max-width: 480px) {
    main {
        max-width: 90vw;
    }
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #0047cb;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #05307f;
}

::marker {
    color: #0047cb;
}